@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  width: 300px;
  height: 500px;
  border-radius: 20px;
}

body {
  height: 110vh;
}

.symbol {
  font-size: 100px;
}

#number {
  font-size: 150px;
}
